<!DOCTYPE html>
<html>
    <body>
        <h2 style="text-align: center;">Formulario de Contacto</h2>
        {% for mensaje in form.nombre.errors %}
        <div>{{ mensaje }}</div>
        {% endfor %}
        <form action="/notificacion" method=post>
        <fieldset>
        <legend>Formulario</legend>
            {{ form.hidden_tag() }}
        <div style="font-size:20px,font-weight:bold,margin-lef:150px;">
            {{ form.nombre.label }}<br>
            {{ form.nombre }}
            <br>
            {{ form.email.label }}<br>
            {{ form.email }}
            <br>
            {{ form.edad.label }}<br>
            {{ form.edad }}
            <br>
            {{ form.sector.label }}<br>
            {{ form.sector }}
            <br>
            {{ form.submit }}
        </div>
        </fieldset>
        </form>
</html>
