<html>
   <body>
      <center>
      <h1>Bienvenido(a), {{ nombre }}</h1>
      <br>
      <p><a href="/itbms">Calcular ITBMS</a>
      <form action="/logout" method="post">
          <input type="submit" value="Salir">
      </form>
      </center>
   </body>
</html>
