<html>
   <body>

      {% with mensajes =  get_flashed_messages() %}
      {% if mensajes %}
      <ul>
      {% for mensaje in mensajes %}
      <li> {{ mensaje }} </li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <center>
      {% if val == -1.0 %}
      <h1>Ingreso valores invalidos</h1>
      {% else %}
      <p>El ITBMS de ${{ val }} es de ${{ res }}
      {% endif %}
      <p><a href="/landing">Volver</a>
      </center>
   </body>
</html>
